{
  "presets": ["module:metro-react-native-babel-preset"],
  "plugins": [
    ["nornj-in-jsx", { "rn": true }],
    ["@babel/plugin-proposal-decorators", { "legacy" : true }],
    ["module-resolver", {
      "alias": {
        "nornj": "nornj/dist/nornj.runtime.common"
      }
    }]
  ]
}
