<template name="displayPanel">
  <DisplayPanel>
    <Text style="{[styles.numberBlock, counter < 0 ? styles.lowerThanZero]}">{counter}</Text>
    <Text style={styles.unitBlock}>/ times</Text>
  </DisplayPanel>
</template>

<template>
  <Container>
    <#include name="displayPanel" />
    <ControlPanel style="{styles.inline}">
      <ButtonAddSmall onPress={increment}
                      underlayColor={colors.add.bg}>
        <Text :style="[styles.text, styles.textColorAdd]">+</Text>
      </ButtonAddSmall>
      <ButtonMinusSmall onPress={decrement}
                        underlayColor={colors.minus.bg}>
        <Text :style="[styles.text, styles.textColorMinus]">-</Text>
      </ButtonMinusSmall>
    </ControlPanel>
    <ControlPanel>
      <ButtonAdd onPress={incrementIfOdd}
                 underlayColor={colors.add.bg}>
        <Text :style="[styles.text, styles.textColorAdd]">Increment if odd</Text>
      </ButtonAdd>
      <ButtonAdd onPress={onPressAdd}
                 underlayColor={colors.add.bg}>
        <Text :style="[styles.text, styles.textColorAdd]">Increment async</Text>
      </ButtonAdd>
      <ButtonMinus onPress={onPressMinus}
                   underlayColor={colors.minus.bg}>
        <Text :style="[styles.text, styles.textColorMinus]">Decrement async</Text>
      </ButtonMinus>
      <Zeroing {counter} {setToZero} />
    </ControlPanel>
  </Container>
</template>